# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# netbeans
nbproject

# composer
composer.phar
/vendor/

# temporary folder for shoreditch repo download
misc/shoreditch_temp_from_repo