/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Aug 2019, 17:27:18
    Author     : Tom
*/


/* 
created newregion to house the main navigation because...? 
I had to do this to make a home for the Nice Menu that replaces the default main menu 

Should I really be doing this styling here?
There is a nice_menus.css file but that's buried in /sites/all/modules/nice_menus/css and will apply to any use of nice menus
*/
.region-newregion { 
	clear: both;
}


/* distinct styling for active page link */

/* I commented this out because it doesn't work on the Home link - that doesn't get the active-trail class */
/*
.region-newregion li.active-trail { 
	background-color: #1f8bcc; 
}
*/

.region-newregion a.active { 
	color: white; 
}

/* 
a quick fix to get rid of headings on Training Level images (my attemts to use a 'taxonomy image' - a common problem in Drupal it seems)
Longer term, need to find out how to apply styling via UI (will require putting these images in a Drupal Block I think)
*/
.taxonomy-term.vocabulary-training-level h2 { 
	font-size: small !important;
	float: left;
	clear: left;
}

.taxonomy-term.vocabulary-training-level { 
	float: left;
	margin-right: 6px;
}
.taxonomy-term.vocabulary-training-level .content { clear: both; float: left; }
.views-row { clear: both; }

/* this makes the images appear inline */
.views-field-field-training-level-entity-ref { display: block; }
.views-field-field-training-level-entity-ref div { display: inline; }

/* 
...so now how do I create a hover message (showing level) - will need js for that I think
and/or reinstate the heading but smaller and positioned where I want it? 

is it worth it? */


